<!DOCTYPE HTML>
<html>
<head>
    <title>Netpulse</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=2_7kdDan99DJTVE_z9QKYSno1AvTyz8h5bM9UiEfq_HaTfQgIeeCmRY7wvf11WJhcz">
        {
            siteName: 'netpulse.ws (Netpulse Fitness Entertai)',
                    enabledProviders: 'facebook'
        }
    </script>
    <script type="text/javascript">
        /*
        * For testing outside of QT
        */
        if (typeof(npfunctions) == 'undefined') {
            npfunctions = {};
        }
        if (typeof(getServerLocation) == 'undefined') {
        	getServerLocation = function() {
        		if (typeof(loc) == 'undefined') {
                    loc = parseURL(window.location);
        		}
        		return loc.protocol + '://' + loc.host + (parseInt(loc.port) > 0 ? ':' + loc.port : '') + '/';
        	}
        }

        //Parses a URL into discrete components
        function parseURL(url) {
            var a =  document.createElement('a');
            a.href = url;
            return {
                source: url,
                protocol: a.protocol.replace(':',''),
                host: a.host,
                hostname: a.hostname,
                port: a.port,
                query: a.search,
                params: (function(){
                    var ret = {},
                            seg = a.search.replace(/^\?/,'').split('&'),
                            len = seg.length, i = 0, s;
                    for (;i<len;i++) {
                        if (!seg[i]) { continue; }
                        s = seg[i].split('=');
                        ret[s[0]] = s[1];
                    }
                    return ret;
                })(),
                file: (a.pathname.match(/\/([^\/?#]+)$/i) || [,''])[1],
                hash: a.hash.replace('#',''),
                path: a.pathname.replace(/^([^\/])/,'/$1'),
                relative: (a.href.match(/tps?:\/\/[^\/]+(.+)/) || [,''])[1],
                segments: a.pathname.replace(/^\//,'').split('/')
            };
        };

        // Proces the response object from Gigya API call, and either write it to disk
        // so that the main webview in the client can process, or display (for debugging)
        function processResponse(response) {
            var json = JSON.stringify(response);
            var cookies = document.cookie;
            if (typeof(npfunctions.writeToFile) == 'function') {
                // Write the data to the filesystem for later retrieval
                npfunctions.writeToFile('/tmp/gigya.json', json);
                npfunctions.writeToFile('/tmp/gigya.cookies', cookies);

            } else {
                $('body').append(
                        '<h1>Response</h1>\n' +
                                json +
                                '<br /><h1>Cookies</h1>' +
                                cookies
                );
            }
            // Append "done" status and refresh page to notify client
            // that the information is ready
            window.location.href += '&status=done'
        };
        
        $(document).ready(function() {
            var loc = parseURL(window.location);
            if (typeof(loc.params.status) == 'undefined' || loc.params.status != 'done') {
            	/* 
            	 * Prior to 2012-04-20, Gigya Javascript API for login/addConnection
            	 * redirected to the URL, BUT DID NOT append the user info to the URL
            	 * as documented.  The workaround was to explicitly call gigya.socialize.getUserInfo()
            	 * and save that to disk to be read by the main window of the client.
            	 *
            	 * Sometime on/after 2012-04-20, the login/addConnection was changed to
            	 * update the redirectURL with the user info as part of the query 
            	 * string.  Unfortunately, gigya.socialize.getUserInfo() no longer has sufficient  
            	 * data to retrieve the user's info.  So instead of using the Javascrip API,
            	 * use the REST API.
            	 */
            	if (true) { 
            		$.getJSON(
            			getServerLocation() + 's2/gigyaProxy/getUserInfo?uid=' + loc.params.UID,
            			processResponse
            		);

            	} else {
	            	// Initial access to this redirected page.  Get the user info and
	                // save it to disk
	                gigya.socialize.getUserInfo({
	                    callback: processResponse
	                });
            	}
            }
        });

    </script>
</head>
</html>
