@(message: String)(implicit flash: play.api.mvc.Flash)

@main("Welcome to our main page", 'home) {

@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}

<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Lifescape Manager</h1>
        <p></p>
        <p><a class="btn primary large" href="@routes.Auth.login()">Login &raquo;</a>
           <a class="btn primary large" href="@routes.Auth.logout()">Logout &raquo;</a></p>
    </div>


    <!-- Example row of columns -->

    <div class="row">
        <div class="span8"  class="twipsies well">
            <div>
                <h2>Asset Management</h2>
                <p>Get current status of your operating equipment...</p>
                <p><a class="btn" href="">Equipment Status &raquo;</a></p>
            </div>
        </div>
        <div class="span8"  class="twipsies well">
            <div>
                <h2>Workout Activity</h2>
                <p> </p>
                <p><a class="btn" href="">Workouts by Equipment &raquo;</a></p>
                <p> </p>
                <p><a class="btn primary" href="@routes.Report.showWorkoutLocations()">Workouts by Club &raquo;</a></p>
                <p> </p>
                <p><a class="btn" href="@routes.WebApp.testLogin()">Test Login &raquo;</a></p>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; Netpulse 2012. All rights reserved</p>
    </footer>

</div> <!-- /container -->
    
}