@(message: String)(implicit flash: play.api.mvc.Flash, session: play.api.mvc.Session)

@main(Messages("page.title.index"), 'home) {

@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Messages("flash.done")</strong> @message
</div>
}

<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>@Messages("lifescape.header")</h1>
        <p>@Messages("lifescape.tagline")</p>
        <p> @if(!session.get("email").isEmpty) {
            <a class="btn btn-primary  btn-large" href="@routes.Auth.logout()">@Messages("logout") &raquo;</a></p>
        }
    </div>


    <!-- Example row of columns -->

    <div class="row">
        <div class="span6"  class="twipsies well">
            <div>
                <h2>@Messages("asset.management.title")</h2>
                <p>@Messages("equipment.status.prompt")</p>
                <p><a class="btn" href="">@Messages("equipment.status.button") &raquo;</a></p>
            </div>
        </div>
        <div class="span6"  class="twipsies well">
            <div>
                <h2>@Messages("workouts.activity.title")</h2>
                <p> </p>
                <p><a class="btn" href="">@Messages("workouts.equipment.button") &raquo;</a></p>
                <p> </p>
                <p><a class="btn btn-primary" href="@routes.Report.showWorkoutLocations()">@Messages("workouts.location.button") &raquo;</a></p>
                <p> </p>
                <p><a class="btn" href="@routes.WebApp.testLogin()">@Messages("test.login.button") &raquo;</a></p>
            </div>
        </div>
    </div>


</div> <!-- /container -->
    
}