@(currentPage: Page[WorkoutLocation], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)



@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
routes.Report.showWorkoutLocations(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
<th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
<a href="@link(0, Some(orderBy))">@title</a>
</th>
}

@main("Workouts for "+WorkoutLocation.companyLimit, 'listUsers) {

<h2>@Messages("Workouts by Club for "+WorkoutLocation.companyLimit, currentPage.total)</h2>

@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}

<div id="actions" class="well">

    @helper.form(action=routes.Report.showWorkoutLocations()) {
    <input type="search" name="c" value="@currentFilter" placeholder="Filter by company name...">
    <input type="search" name="f" value="@currentFilter" placeholder="Filter by club name...">
    <input type="submit" value="Go Filter" class="btn primary">
    }

    @*<a class="btn success" id="add" href="@routes.Application.create()">Add a new computer</a>}}*@

</div>

@Option(currentPage.items).filterNot(_.isEmpty).map { woL =>

    <div id="pagination_top" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
        <li class="prev">
            <a href="@link(page)">&larr; Previous</a>
        </li>
        }.getOrElse {
        <li class="prev disabled">
            <a>&larr; Previous</a>
        </li>
        }
        <li class="current">
            <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + woL.size) of @currentPage.total</a>
        </li>
        @currentPage.next.map { page =>
        <li class="next">
            <a href="@link(page)">Next &rarr;</a>
        </li>
        }.getOrElse {
        <li class="next disabled">
            <a>Next &rarr;</a>
        </li>
        }
    </ul>
</div>

    <table class="users zebra-striped table-bordered table-condensed">
        <thead>
        <tr>
            @header(2,  "Club")
            @header(3,  "Screens")
            @header(4,  "Equipment")
            @header(5,  "New Reg")
            @header(6,  "Tot Reg")
            @header(7,  "Workouts")
            @header(8,  "Reg WOs")
            @header(9,  "% Reg WOs")
            @header(10, "WOs / Screen")
            @header(11, "WOs / Screen / Day")
            @header(12, "Avg Duration Mins")
            @header(13, "Total WO Hours")
        </tr>
        </thead>
        <tbody>

        @woL.map {
        case woL => {
        <tr>
            @*<td><a href="@routes.Application.edit(computer.id.get)">@computer.name</a></td>*@

            <td><a href="">@woL.clubName</a></td>

            <td>0</td>

            <td><a href="">Equipment List</a></td>

            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>@((0L).toString)</td>
        </tr>
        }
        }

        </tbody>
    </table>

    <div id="pagination" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
        <li class="prev">
            <a href="@link(page)">&larr; Previous</a>
        </li>
        }.getOrElse {
        <li class="prev disabled">
            <a>&larr; Previous</a>
        </li>
        }
        <li class="current">
            <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + woL.size) of @currentPage.total</a>
        </li>
        @currentPage.next.map { page =>
        <li class="next">
            <a href="@link(page)">Next &rarr;</a>
        </li>
        }.getOrElse {
        <li class="next disabled">
            <a>Next &rarr;</a>
        </li>
        }
    </ul>
</div>

}.getOrElse {

<div class="well">
    <em>Nothing to display</em>
</div>

}


}

