@(currentPage: Page[WorkoutLocation], currentOrderBy: Int, currentFilter: String, startDate: String, endDate: String, cmpId: Long)(implicit flash: play.api.mvc.Flash)

@import helper._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
routes.Report.showWorkoutLocations(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
<th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
<a href="@link(0, Some(orderBy))">@title</a>
</th>
}



@main(currentPage.user, "Workouts by Club", 'listUsers) {

@* TODO: figure out how to put company name here... *@
<h2>@Messages("Workouts by Club", currentPage.total)</h2>

@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}

@*****  Form for report filters etc. *******@
<div id="actions" class="twipsies well">
    @helper.form(action=routes.Report.showWorkoutLocations(), args = 'id -> "reportForm") {
    
    <p>
        <input type="submit" value="Go" class="btn primary pull-right">

        @***** Don't show this to non-Netpulse Users ******@
        @* The company ID was put onto the flash object in the controller *@
        @* compId=@currentPage.cmpId: *@
        @if(currentPage.user.compId == 1) {
            <label>Company</label>
            <div class="input">
                <div class="inline-inputs">
                <select name="f" value="@currentFilter" >
                    <option value="">Select a company</option>
                    @Company.reportCompanyOptions.map { opt =>
                        <option value="@opt._1" @if(opt._1.toString == currentFilter){selected="yes"}>@opt._2</option>
                    }
                </select>
                </div>
            </div>
          }

    </p>
        <label>From</label>
            <div class="input">
                <div class="inline-inputs">
                    <input data-datepicker="sd" name="sd" class="small" type="text" value="@startDate" />
                    to
                    <input data-datepicker="ed" name="ed" class="small" type="text" value="@endDate" />
                    <span class="help-block">Leave blank for all time.</span>
                </div>
            </div>

    }
</div>

@Option(currentPage.items).filterNot(_.isEmpty).map { woL =>

@if(currentPage.total >= WorkoutLocation.pageLength ) {
    <div id="pagination_top" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
        <li class="prev">
            <a href="@link(page)">&larr; Previous</a>
        </li>
        }.getOrElse {
        <li class="prev disabled">
            <a>&larr; Previous</a>
        </li>
        }
        <li class="current">
            <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + woL.size) of @currentPage.total</a>
        </li>
        @currentPage.next.map { page =>
        <li class="next">
            <a href="@link(page)">Next &rarr;</a>
        </li>
        }.getOrElse {
        <li class="next disabled">
            <a>Next &rarr;</a>
        </li>
        }
    </ul>
</div>
}

    <table class="users zebra-striped table-bordered table-condensed">
        <thead>
        <tr>
            @header(1,  "Club")
            @header(2,  "Screens")
            @header(3,  "New Reg")
            @header(4,  "Tot Reg")
            @header(5,  "Workouts")
            @header(6,  "Reg WOs")
            @header(7,  "% Reg WOs")
            @header(8,  "WOs / Screen")
            @header(9, "WOs / Screen / Day")
            @header(10, "Avg Duration Mins")
            @header(11, "Total WO Hours")
        </tr>
        </thead>
        <tbody>


        @Option(currentPage.totals).filterNot(_.isEmpty).map { tmp =>
            @tmp.map {
              case woLtot =>  {
                <tr><strong>
                <th>Totals:</th>
                <th>@woLtot.screens</th>
                <th>@woLtot.newReg</th>
                <th>@woLtot.totReg</th>
                <th>@woLtot.woCnt.formatted("%.0f")</th>
                <th>@woLtot.woReg</th>
                <th>@woLtot.woPercReg.formatted("%.2f")</th>
                <th>@woLtot.woPerScreen.formatted("%.2f")</th>
                <th>@woLtot.woScreenDay.formatted("%.2f")</th>
                <th>@woLtot.durAvg.formatted("%.2f")</th>
                <th>@woLtot.durTot.formatted("%.0f")</th>
                </strong></tr>
              }
            }
        }


        @woL.map {
            case woLx => {
            <tr>
                <td><strong>@woLx.clubName</strong></td>
                <td>@woLx.screens</td>
                <td>@woLx.newReg</td>
                <td>@woLx.totReg</td>
                <td>@woLx.woCnt.formatted("%.0f")</td>
                <td>@woLx.woReg</td>
                <td>@woLx.woPercReg.formatted("%.2f")</td>
                <td>@woLx.woPerScreen.formatted("%.2f")</td>
                <td>@woLx.woScreenDay.formatted("%.2f")</td>
                <td>@woLx.durAvg.formatted("%.2f")</td>
                <td>@woLx.durTot.formatted("%.0f")</td>
            </tr>
            }
        }

        </tbody>
    </table>

      @if(currentPage.total >= WorkoutLocation.pageLength ) {
        <div id="pagination" class="pagination">
        <ul>
            @currentPage.prev.map { page =>
            <li class="prev">
                <a href="@link(page)">&larr; Previous</a>
            </li>
            }.getOrElse {
            <li class="prev disabled">
                <a>&larr; Previous</a>
            </li>
            }
            <li class="current">
                <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + woL.size) of @currentPage.total</a>
            </li>
            @currentPage.next.map { page =>
            <li class="next">
                <a href="@link(page)">Next &rarr;</a>
            </li>
            }.getOrElse {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
            }
        </ul>
        </div>
    }

}.getOrElse {

<div class="well">
    <em>Nothing to display</em>
</div>


}


}

