@(currentPage: Page[WorkoutLocation], currentOrderBy: Int, currentFilter: String, startDate: Int)(implicit flash: play.api.mvc.Flash)



@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
routes.Report.showWorkoutLocations(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
<th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
<a href="@link(0, Some(orderBy))">@title</a>
</th>
}

@main("Workouts by Club", 'listUsers) {

<h2>@Messages("Workouts by Club for "+currentFilter, currentPage.total)</h2>

@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}

<div id="actions" class="well">

    @helper.form(action=routes.Report.showWorkoutLocations()) {
    <input type="search" name="f" value="@currentFilter" placeholder="Company ID" />
    <br>
    <input type="search" name="sd" value="@startDate" placeholder="Start Date: yyyymmdd " />
    @* <input type="search" name="ed" value="@endDate" placeholder="Start Date: yyyymmdd " /> *@
    <input type="submit" value="Go" class="btn primary">
    }

    @*<a class="btn success" id="add" href="@routes.Application.create()">Add a new computer</a>}}*@

</div>

@Option(currentPage.items).filterNot(_.isEmpty).map { woL =>

@if(currentPage.total >= WorkoutLocation.pageLength ) {
    <div id="pagination_top" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
        <li class="prev">
            <a href="@link(page)">&larr; Previous</a>
        </li>
        }.getOrElse {
        <li class="prev disabled">
            <a>&larr; Previous</a>
        </li>
        }
        <li class="current">
            <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + woL.size) of @currentPage.total</a>
        </li>
        @currentPage.next.map { page =>
        <li class="next">
            <a href="@link(page)">Next &rarr;</a>
        </li>
        }.getOrElse {
        <li class="next disabled">
            <a>Next &rarr;</a>
        </li>
        }
    </ul>
</div>
}

    <table class="users zebra-striped table-bordered table-condensed">
        <thead>
        <tr>
            @header(1,  "Club")
            @header(2,  "Screens")
            @header(3,  "Equipment")
            @header(4,  "New Reg")
            @header(5,  "Tot Reg")
            @header(6,  "Workouts")
            @header(7,  "Reg WOs")
            @header(8,  "% Reg WOs")
            @header(9,  "WOs / Screen")
            @header(10, "WOs / Screen / Day")
            @header(11, "Avg Duration Mins")
            @header(12, "Total WO Hours")
        </tr>
        <tr>

        </tr>
        </thead>
        <tbody>
        <tr><td>Totals: </td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        @woL.map {
        case woL => {
        <tr>
            @*<td><a href="@routes.Application.edit(computer.id.get)">@computer.name</a></td>*@

            @*<td><a href="">@woL.id</a></td>*@
            <td><a href="">@woL.clubName</a></td>

            <td>@woL.screens</td>

            <td><a href="">Equipment List</a></td>

            <td>n/a</td>
            <td>n/a</td>
            <td>@woL.woCnt</td>
            <td>@woL.woReg</td>
            <td>@woL.woPercReg.formatted("%.2f")</td>
            <td>@woL.woPerScreen.formatted("%.2f")</td>
            <td>@woL.woScreenDay.formatted("%.2f")</td>
            <td>@woL.durAvg.formatted("%.2f")</td>
            <td>@woL.durTot.formatted("%.2f")</td>
        </tr>
        }
        }

        </tbody>
    </table>

      @if(currentPage.total >= WorkoutLocation.pageLength ) {
        <div id="pagination" class="pagination">
        <ul>
            @currentPage.prev.map { page =>
            <li class="prev">
                <a href="@link(page)">&larr; Previous</a>
            </li>
            }.getOrElse {
            <li class="prev disabled">
                <a>&larr; Previous</a>
            </li>
            }
            <li class="current">
                <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + woL.size) of @currentPage.total</a>
            </li>
            @currentPage.next.map { page =>
            <li class="next">
                <a href="@link(page)">Next &rarr;</a>
            </li>
            }.getOrElse {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
            }
        </ul>
        </div>
    }

}.getOrElse {

<div class="well">
    <em>Nothing to display</em>
</div>

}


}

