@(user: User, active: Symbol)

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="@routes.WebApp.index()">S2</a>
            <ul class="nav">
             @* Don't show any menu items for now...
                <li class="@{if(active == 'home) "active" else "inactive"}"><a href="@routes.WebApp.index()">Home</a></li>
             *@
                <li class="@{if(active == 'showWorkoutLocations) "active" else "inactive"}"><a href="@routes.Report.showWorkoutLocations()">Reports</a></li>
                <li class="@{if(active == 'admin) "active" else "inactive"}"><a href="">Admin</a></li>
                <li class="@{if(active == 'account) "active" else "inactive"}"><a href="">Account</a></li>
                <li class="@{if(active == 'contact) "active" else "inactive"}"><a href="">Contact</a></li>
                @if(!user.email.isEmpty) {
                    <li class="@{if(active == 'logout) "active" else "inactive"}"><a href="@routes.Auth.logout()">Logout</a></li>
                }
            </ul>
        </div>
    </div>
</div>
