@(active: Symbol)(implicit rq: security.CtxRqst[_])

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="@routes.MiscController.index()">S2</a>
            <ul class="nav">
             @* Don't show any menu items for now...
                <li class="@{if(active == 'home) "active" else "inactive"}"><a href="@routes.MiscController.index()">@Messages("menu.home")</a></li>
                <li class="@{if(active == 'showWorkoutLocations) "active" else "inactive"}"><a href="@routes.Report.showWorkoutLocations()">@Messages("menu.reports")</a></li>
             *@
                <!-- CRUD Users -->
                @if(rq.canRead(security.tgUser)) {
                  <li class="@{if(active == 'admin) "active" else "inactive"}"><a href="@routes.MiscController.userList()">@Messages("menu.admin")</a></li>
                }


             @*   <li class="@{if(active == 'account) "active" else "inactive"}"><a href="@routes.MiscController.userEdit">@Messages("menu.account")</a></li> *@
                <li class="@{if(active == 'contact) "active" else "inactive"}"><a href="">@Messages("menu.contact")</a></li>

                @if(rq.context.user.isDefined) {
                    <li class="@{if(active == 'logout) "active" else "inactive"}"><a href="@routes.AuthController.logout()">@Messages("menu.logout")</a></li>
                } else {
                    <li class="@{if(active == 'login) "active" else "inactive"}"><a href="@routes.AuthController.promptLogin(rq.request.path)">@Messages("menu.login")</a></li>
                }
            </ul>
        </div>
    </div>
</div>
