@(dao: MiscController, id: Long, form: Form[Person])(implicit rq: security.CtxRqst[_], flash: Flash)

@main( if(id == -1L) {"useradd.title"} else {"useredit.title"}, 'userEdit) {

    <h1>@Messages( if(id == -1L) "useradd.title" else "useredit.title" )</h1>

    @if(form.hasErrors) {
        <div class="alert alert-error">
            <p><strong>Please correct:</strong> @form.errors.toString</p>
        </div>
    }

<div class="row">
        <div class="span8">
        @if(id == -1L) {
            <form action="@routes.MiscController.userAddSubmit()"  method="POST" class="form-horizontal">
          } else {
            <form action="@routes.MiscController.userEditSubmit(id)"  method="POST" class="form-horizontal">
          }

                <fieldset>
                    <legend></legend>

                    @* If the user has no filter on their rights in the user area show them the company list. *@
                    @* otherwise their company_id is added in the controller  *@
                    <div class="control-group">
                     @if(rq.isFiltered(security.tgUser)) {
                        @* the company id is set in the controller but on an add the form needs something or it gives an error *@
                        <input name="companyId" type="hidden" value="@form("companyId").value.getOrElse(0).toString" />
                     } else {
                            <label class="control-label" for="companyId">@Messages("workouts.location.field.company")</label>
                            <div class="controls">
                                <select name="companyId" value="@form("companyId").value" class="span4">
                                    <option value="">@Messages("workouts.location.field.company.options")</option>
                                    @dao.coReportCompanyOptions.map { opt =>
                                    <option value="@opt._1" @if(opt._1 == form("companyId").value.getOrElse(0).toString){selected="yes"}>@opt._2</option>
                                    }
                                </select>
                                <p class="help-block"></p>
                            </div>
                     }
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="portalLogin">@Messages("useredit.portalLogin")</label>
                        <div class="controls">
                            <input type="text" name="portalLogin" id="portalLogin" class="input-xlarge" placeholder="@Messages("useredit.portalLogin")"  value="@form("portalLogin").value">
                            <p class="help-block">@Messages("useredit.portalLogin.help")</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="firstName">@Messages("useredit.fname")</label>
                        <div class="controls">
                            <input type="text" name="firstName" id="firstName" class="input-xlarge" placeholder="@Messages("useredit.fname")"  value="@form("firstName").value">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="lastName">@Messages("useredit.lname")</label>
                        <div class="controls">
                            <input type="text" name="lastName" id="lastName" class="input-xlarge" placeholder="@Messages("useredit.lname")"  value="@form("lastName").value">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">@Messages("useredit.email")</label>
                        <div class="controls">
                            <input type="email" name="email" id="email" class="input-xlarge" placeholder="@Messages("useredit.email")"  value="@form("email").value">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="phone">@Messages("useredit.phone")</label>
                        <div class="controls">
                            <input type="phone" name="phone" id="phone" class="input-xlarge" placeholder="@Messages("useredit.phone")"  value="@form("phone").value">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password">
                            @if(id == -1L)  { @Messages("useredit.password") } else { @Messages("useredit.newpw") }
                        </label>

                        <div class="controls">
                            @if(id == -1L)  {
                                <input type="password" name="password" id="password" class="input-xlarge" placeholder="@Messages("useredit.password")" >
                            } else {
                                <input type="password" name="password" id="password" class="input-xlarge" placeholder="@Messages("useredit.newpw")" >
                                <p class="help-block">@Messages("useredit.newpwhelp")</p>
                            }
                        </div>
                    </div>


                    @* TODO: Remove these test statements...
                    userRole = @rq.context.user.get.roleId
                    GroupList = @dao.rlGroupList(1).toString
                    userGroupList = @dao.rlGroupList(rq.context.user.get.roleId).toString
                    form Role = @form("roleId").value.getOrElse(0)
                    *@

                    @* This will only be shown to users who have Create rights here  *@
                    <div class="control-group">
                        @if(!rq.canCreate(security.tgUser)) {
                            <input name="roleId" type="hidden" value="@form("roleId").value.getOrElse(0).toString" />
                        }  else {
                            <label class="control-label" for="roleId">@Messages("useredit.role")</label>
                            <div class="controls">
                                <select name="roleId" value="@form("roleId").value" class="span3">
                                @dao.rlGroupList(rq.context.user.get.roleId).map { role =>
                                <option value="@role.id.toString" @if(role.id.toString == form("roleId").value.getOrElse(0).toString){selected="yes"}>@role.name</option>
                                }
                                </select>
                                <p class="help-block">@Messages("useredit.role.help")</p>
                            </div>
                        }
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">@Messages("button.save")</button>
                        <a href="@routes.MiscController.userList()" class="btn">@Messages("button.cancel")</a>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

}