@(form: Form[User])(implicit flash: Flash, session: play.api.mvc.Session)

@main("Account Edit", 'userEdit) {

    <h1>@Messages("login.header") - Update Your Account</h1>

    @form.globalError.map { error =>
    <p class="alert alert-error">
        @error.message
    </p>
    }

    @flash.get("success").map { message =>
    <div class="alert alert-success">
        <strong>@Messages("login.flash.success")</strong> @message
    </div>
    }

    <div class="row">
        <div class="span8">
            <form action="@routes.WebApp.userSubmit()"  method="POST" class="form-horizontal">
                <fieldset>
                    <legend></legend>
                    <div class="control-group">
                        <label class="control-label" for="firstName"></label>
                        <div class="controls">
                            <input type="text" name="firstName" id="firstName" class="input-xlarge" placeholder="First Name"  value="@form("firstName").value">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="lastName"></label>
                        <div class="controls">
                            <input type="text" name="lastName" id="lastName" class="input-xlarge" placeholder="Last Name"  value="@form("lastName").value">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email"></label>
                        <div class="controls">
                            <input type="email" name="email" id="email" class="input-xlarge" placeholder="Email"  value="@form("email").value">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password"></label>
                        <div class="controls">
                            <input type="password" name="password" id="password" class="input-xlarge" placeholder="Optional new password" >
                            <p class="help-block">Leave this blank to keep your current password.</p>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">@Messages("save.button")</button>
                        @* <button type="cancel" class="btn btn-primary">@Messages("cancel.button")</button> *@
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

}