@(user: User, userForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
Sign Up <small><a href="">Or edit an existing user</a></small>
}

@main(user, "Account Edit", 'userEdit) {

    @helper.form(action = routes.WebApp.userSubmit) {

        <fieldset>
            <legend>Update your account:</legend>

            @inputText( userForm("firstName"),      '_label -> "First name"     )
            @inputText( userForm("lastName"),       '_label -> "Last name"      )
            @inputText( userForm("email"),          '_label -> "Email"          )
TODO: Read the inputText Helper code/ docs for email and password handling
            @inputText( userForm("newPass"),        '_label -> "New Password"   )
            @inputText( userForm("newPassConfirm"),  '_label -> "Confirm Password")
@*
            <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
*@

        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Save">
            <a href="@routes.WebApp.index" class="btn">Cancel</a>
        </div>

    }

}